streamlit-extras
bs4
pandas
pandas_ta
yfinance<=0.2.28
plotly
numpy
scikit-learn
transformers
nltk
newspaper3k
newsapi
pdfplumber
chromadb
lxml_html_clean
langchain[llms]==0.0.208 
pathlib
uuid
pysqlite3-binary
tiktoken
pydantic==1.*
openai
