streamlit-extras
pandas
pandas_ta
yfinance
plotly
numpy
scikit-learn
transformers
nltk
newspaper3k
newsapi
pdfplumber
chromadb
lxml_html_clean
langchain[llms]==0.0.299
pathlib
uuid
pysqlite3-binary
tiktoken
openai
pydantic==1.9
