streamlit-extras
pydantic
pandas
pandas_ta
yfinance
plotly
numpy
scikit-learn
transformers
nltk
newspaper3k
newsapi
pdfplumber
chromadb
lxml_html_clean
langchain[llms]
pydantic<2
pathlib
uuid
pysqlite3-binary
tiktoken
openai
